apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://forge_prometheus:9090
    isDefault: true
  - name: Loki
    type: loki
    access: proxy
    url: http://forge_loki:3100
